<mat-card class="mat-elevation-z10">
    <mat-card-header>
        <mat-card-title>{{ 'ASSET.VARIANCE.ADD_TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="dialog-content">
        <form #varianceForm="ngForm">
            <div fxLayout="column" fxLayoutGap="16px">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'COMMON.REASON' | translate }}</mat-label>
                    <mat-select [(ngModel)]="variance.varianceReasonId" name="reason" required>
                        <mat-option *ngFor="let reason of reasons$ | async" [value]="reason.enumId">
                            {{ reason.description }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="varianceForm.dirty && !variance.varianceReasonId">
                        {{ 'COMMON.REASON_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'ASSET.VARIANCE.QOH_VAR' | translate }}</mat-label>
                    <input matInput type="number" [(ngModel)]="variance.quantityOnHandVar" name="qohVar">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'ASSET.VARIANCE.ATP_VAR' | translate }}</mat-label>
                    <input matInput type="number" [(ngModel)]="variance.availableToPromiseVar" name="atpVar">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'COMMON.COMMENTS' | translate }}</mat-label>
                    <textarea matInput [(ngModel)]="variance.comments" name="comments" rows="3"></textarea>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="isLoading || !variance.varianceReasonId">
            <mat-spinner *ngIf="isLoading" diameter="20" color="accent"
                style="display:inline-block; margin-right: 5px;"></mat-spinner>
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button mat-button (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </mat-card-actions>
</mat-card>