<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/orders']">{{ 'SO.TITLE' | translate }}</a>
      / {{ orderHeader?.orderId }}
    </mat-list-item>
  </mat-list>
  <mat-card class="mat-elevation-z10">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>{{ 'SO.OVERVIEW' | translate }} </mat-card-title>
      <div fxLayout="row" fxLayoutGap="12px">
        <button mat-icon-button color="primary" (click)="openPdf()" aria-label="Open PDF">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button mat-raised-button color="primary" *ngIf="canApprove" (click)="approveOrder()">
          Approve
        </button>
        <button mat-raised-button color="accent" *ngIf="canPicklist" (click)="createPicklist()">
          Create Picklist
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <ul class="custom-list">
        <li class="custom-list-item">
          <strong>{{ 'SO.ID' | translate }}:</strong> {{ orderHeader?.orderId }}
        </li>
        <li class="custom-list-item">
          <strong>{{ 'SO.ORDER_DATE' | translate }}:</strong>
          {{ orderHeader?.entryDate | date : "MMMM d, y" }}
        </li>
        <li class="custom-list-item">
          <span><strong>{{ 'SO.STATUS' | translate }}:</strong> {{ statusItem?.description }}</span>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title
        >{{ 'SO.NOTES' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateNoteDialog()"
          >add</mat-icon
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="orderNotes">
        <ng-container matColumnDef="noteText">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.NOTE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <span *ngIf="item.noteText">{{ item?.noteText }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="noteDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.NOTE_DATE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.noteDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'SO.CREATED_BY' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.userId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.ACTION' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <mat-icon
              matListIcon
              class="custom-mat-icon custom-icon-align"
              color="primary"
              (click)="addUpdateNoteDialog(item)"
              >edit</mat-icon
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="noteColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: noteColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card *ngFor="let part of parts">
    <mat-card-header>
      <mat-card-title>{{ 'SO.PARTS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'SO.PART_DETAILS' | translate }}:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'SO.PART_NO' | translate }}:</strong> {{ part.orderPartSeqId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SO.PART_STATUS' | translate }}:</strong> {{ part?.status?.description }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SO.PHONE_NO' | translate }}:</strong>
                {{ part?.telecom?.telecomNumber?.countryCode }}
                {{ part?.telecom?.telecomNumber?.areaCode }}
                {{ part?.telecom?.telecomNumber?.contactNumber }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SO.SHIP_BEFORE_DATE' | translate }}:</strong>
                {{ part?.shipBeforeDate | date : "MMMM d, y" }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SO.PART_TOTAL' | translate }}:</strong>
                {{ part?.partTotal | currency : orderHeader?.currencyUomId }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'SO.SHIP_FROM' | translate }}:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'SO.FACILITY' | translate }}:</strong> {{ part.facility.facilityName }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SO.ADDRESS' | translate }}:</strong>
                <span *ngIf="facilityAddress || firstPartInfo?.facilityContactInfo">
                  <div>
                    {{
                      facilityAddress?.toName || firstPartInfo?.facilityContactInfo?.postalAddress?.toName
                    }}
                  </div>
                  <div>
                    {{
                      facilityAddress?.address1 || firstPartInfo?.facilityContactInfo?.postalAddress?.address1
                    }}
                  </div>
                  <div>
                    {{
                      facilityAddress?.address2 || firstPartInfo?.facilityContactInfo?.postalAddress?.address2
                    }}
                  </div>
                  <div>
                    {{
                      facilityAddress?.city || firstPartInfo?.facilityContactInfo?.postalAddress?.city
                    }},
                    {{
                      facilityAddress?.stateProvinceGeo?.geoName
                        || firstPartInfo?.facilityContactInfo?.postalAddress?.stateProvinceGeo?.geoName
                    }}
                    {{
                      facilityAddress?.postalCode || firstPartInfo?.facilityContactInfo?.postalAddress?.postalCode
                    }}
                    {{
                      facilityAddress?.countryGeoId || firstPartInfo?.facilityContactInfo?.postalAddress?.countryGeoId
                    }}
                  </div>
                </span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'SO.SHIP_TO' | translate }}:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>Name:</strong>
                <ng-container *ngIf="part?.customer?.person; else organization">
                  {{ part?.customer?.person?.firstName }}
                  {{ part?.customer?.person?.lastName }}
                </ng-container>
                <ng-template #organization>
                  {{ part?.customer?.organization?.organizationName }}
                </ng-template>
              </li>
            </ul>

            <ul class="custom-list" *ngIf="shipToAddresses?.length; else noVendorAddress">
              <li class="custom-list-item" *ngFor="let shipToAddress of shipToAddresses">
                <strong>Address:</strong>
                <mat-icon
                  matListIcon
                  class="custom-mat-icon custom-icon-align"
                  color="primary"
                  (click)="editShipToAddress(shipToAddress)"
                >edit</mat-icon>
                <div>{{ shipToAddress?.postalAddress?.toName }}</div>
                <div>{{ shipToAddress?.postalAddress?.address1 }}</div>
                <div>{{ shipToAddress?.postalAddress?.address2 }}</div>
                <div>
                  {{ shipToAddress?.postalAddress?.city }},
                  {{ shipToAddress?.postalAddress?.stateProvinceGeo?.geoName }}
                  {{ shipToAddress?.postalAddress?.postalCode }}
                  {{ shipToAddress?.postalAddress?.countryGeoId }}
                </div>
              </li>
            </ul>
            <ng-template #noVendorAddress>
              <div class="custom-list-item">
                <strong>Address:</strong>
                <mat-icon
                  matListIcon
                  class="custom-mat-icon custom-icon-align"
                  color="primary"
                  (click)="editShipToAddress()"
                >add</mat-icon>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <br />
    <mat-card-content>
      <mat-card class="mat-elevation-z10">
        <mat-card-header>
            <mat-card-title
            >{{ 'SO.ITEMS' | translate }}
            <mat-icon
              matListIcon
              class="custom-mat-icon custom-icon-align"
              color="primary"
              (click)="addItemDialog({ orderPartSeqId: part.orderPartSeqId })"
              >add</mat-icon
            >
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="part.items">
            <ng-container matColumnDef="productId">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'SO.PRODUCT_ID' | translate }}
              </th>
              <td mat-cell class="text-left" *matCellDef="let item">
                {{ item.productId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="productName">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'SO.PRODUCT_NAME' | translate }}
              </th>
              <td mat-cell class="text-left" *matCellDef="let item">
                {{ getProductName(item) }}
              </td>
            </ng-container>
            <ng-container matColumnDef="itemDescription">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'SO.ITEM_DESCRIPTION' | translate }}
              </th>
              <td mat-cell class="text-left" *matCellDef="let item">
                {{ item.itemDescription }}
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.TYPE' | translate }}</th>
              <td mat-cell class="text-left" *matCellDef="let item">
                {{
                  getOrderItemTypeDescription(
                    item.itemType?.description ||
                      item.orderItemTypeId ||
                      item.itemTypeEnumId
                  )
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="requiredByDate">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'SO.REQUIRED_BY_DATE' | translate }}
              </th>
              <td mat-cell class="text-left" *matCellDef="let item">
                {{ item.requiredByDate | date : "MMMM d, y" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="unitAmount">
              <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.PRICE' | translate }}</th>
              <td mat-cell class="text-right" *matCellDef="let item">
                {{ item.unitAmount | currency : orderHeader?.currencyUomId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'SO.QUANTITY' | translate }}
              </th>
              <td mat-cell class="text-right" *matCellDef="let item">
                {{ item.quantity }}
              </td>
            </ng-container>
            <ng-container matColumnDef="pickedQuantity">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'COMMON.PICKED_QTY' | translate }}
              </th>
              <td mat-cell class="text-right" *matCellDef="let item">
                {{ item.pickedQuantity || 0 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="totalAmount">
              <th mat-header-cell class="text-left" *matHeaderCellDef>
                {{ 'SO.TOTAL_AMOUNT' | translate }}
              </th>
              <td
                mat-cell
                class="text-right"
                *matCellDef="let item; let i = index"
              >
                {{
                  item.quantity * item.unitAmount
                    | currency : orderHeader?.currencyUomId
                }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="partColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: partColumns"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'SO.CONTENTS' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateContentDialog()"
          >add</mat-icon
        ></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="contents">
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.TITLE_COL' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contentDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.CONTENT_COL' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.contentDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contentLocation">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SO.MIME_TYPE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.contentId; else noContentFile">
              <a href="#" (click)="$event.preventDefault(); openOrderContent(item)">
                {{ item.contentLocation }}
              </a>
            </ng-container>
            <ng-template #noContentFile>--</ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: contentColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Shipments</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="shipments">
        <ng-container matColumnDef="shipmentId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Shipment</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <a [routerLink]="['/shipments', item.shipmentId]">{{ item.shipmentId }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="shipmentTypeId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Type</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getShipmentTypeDescription(item.shipmentTypeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="statusId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Status</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getStatusDescription(item.statusId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Created</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.createdDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="shipmentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: shipmentColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.INVOICES' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="invoiceItems">
        <ng-container matColumnDef="invoiceId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.INVOICE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.invoiceId }}</td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.PRODUCT' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.productId }}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.QTY' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.AMOUNT' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.amount | currency : (item.currencyUomId || orderHeader?.currencyUomId) }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="invoiceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: invoiceColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.PICKLISTS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="picklists">
        <ng-container matColumnDef="picklistId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.PICKLIST' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.picklistId }}</td>
        </ng-container>
        <ng-container matColumnDef="statusId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.STATUS' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getStatusDescription(item.statusId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="shipmentId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.SHIPMENT' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <a *ngIf="item.shipmentId" [routerLink]="['/shipments', item.shipmentId]">
              {{ item.shipmentId }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.CREATED' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.createdDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ACTION' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <button
              mat-button
              color="primary"
              *ngIf="item.statusId !== 'PICKLIST_PICKED'"
              (click)="markPicklistPicked(item.picklistId)"
            >
              {{ 'COMMON.MARK_PICKED' | translate }}
            </button>
            <button
              mat-button
              color="accent"
              *ngIf="item.shipmentId && getShipmentStatus(item.shipmentId) !== 'SHIPMENT_SHIPPED'"
              (click)="shipShipment(item.shipmentId)"
            >
              {{ 'COMMON.SHIP' | translate }}
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="picklistColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: picklistColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
