<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner [diameter]="100" mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'FACILITY.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/facilities/create">
        {{ 'FACILITY.CREATE_TITLE' | translate }}
      </button>
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="facility_id">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FACILITY.ID' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <a [routerLink]="['/facilities', item.facility_id]">{{ item.facility_id }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="facility_name">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FACILITY.NAME' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.facility_name }}</td>
        </ng-container>
        <ng-container matColumnDef="facility_type_id">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FACILITY.TYPE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.facility_type_id }}</td>
        </ng-container>
        <ng-container matColumnDef="owner_party_id">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FACILITY.OWNER' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.owner_party_id }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
