<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner [diameter]="100" mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'FACILITY.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="facilityId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ID' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <a [routerLink]="['/facilities', item.facilityId]">{{ item.facilityId }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="facilityName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.NAME' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.facilityName }}</td>
        </ng-container>
        <ng-container matColumnDef="facilityTypeId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.TYPE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getFacilityTypeDescription(item.facilityTypeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ownerPartyId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FACILITY.OWNER' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.ownerPartyId }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
