<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ 'SO.CREATE_TITLE' | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="false">
      <mat-step [stepControl]="orderForm">
        <ng-template matStepLabel>{{ 'SO.STEP_CART' | translate }}</ng-template>
        <form
          id="soCreateForm"
          [formGroup]="orderForm"
          (ngSubmit)="createOrder()"
          fxLayout="row wrap"
          fxLayoutAlign="start"
          fxLayoutGap="16px"
        >
      <!-- Store -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'SO.STORE' | translate }}</mat-label>
        <mat-select formControlName="productStoreId" (selectionChange)="updateVendorParty()">
          <mat-option *ngFor="let store of productStores" [value]="store.productStoreId">
            {{ store.storeName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('productStoreId')?.hasError('required')">
          {{ 'SO.STORE_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Facility -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'COMMON.FACILITY' | translate }}</mat-label>
        <mat-select formControlName="facilityId">
          <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId">
            {{ facility.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('facilityId')?.hasError('required')">
          {{ 'SO.FACILITY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Customer (Autocomplete) -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'SO.BILL_TO' | translate }}</mat-label>
        <input matInput formControlName="customerPartyId" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCustomerSelected($event)">
          <mat-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer.partyId">
            {{ customer.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="orderForm.get('customerPartyId')?.hasError('required')">
          {{ 'SO.CUSTOMER_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Shipping Address -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'COMMON.SHIPPING_ADDRESS' | translate }}</mat-label>
        <mat-select formControlName="shippingAddress">
          <mat-option *ngFor="let address of customerAddresses" [value]="address">
            {{ formatAddress(address) }}
          </mat-option>
        </mat-select>
        <button
          mat-icon-button
          matSuffix
          type="button"
          aria-label="Add address"
          (click)="addCustomerAddress()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>

      <!-- Customer Phone -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'SO.CUSTOMER_PHONE' | translate }}</mat-label>
        <mat-select formControlName="customerPhone">
          <mat-option *ngFor="let phone of customerPhones" [value]="phone">
            {{ formatPhone(phone) }}
          </mat-option>
        </mat-select>
        <button
          mat-icon-button
          matSuffix
          type="button"
          aria-label="Add phone"
          (click)="addCustomerPhone()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>

      <!-- PO Number -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'SO.PO_NUMBER' | translate }}</mat-label>
        <input matInput formControlName="poNumber" />
      </mat-form-field>


      <!-- Ship Before Date -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'SO.SHIP_BEFORE_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="shipBeforePicker" formControlName="shipBeforeDate"  (click)="shipBeforePicker.open()"/>
        <mat-datepicker-toggle matSuffix [for]="shipBeforePicker"></mat-datepicker-toggle>
        <mat-datepicker #shipBeforePicker></mat-datepicker>
      </mat-form-field>

      <!-- Estimated Delivery Date -->
      <mat-form-field appearance="outline" fxFlex="48%">
        <mat-label>{{ 'SO.EST_DELIVERY_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="deliveryPicker" formControlName="estimatedDeliveryDate"  (click)="deliveryPicker.open()"/>
        <mat-datepicker-toggle matSuffix [for]="deliveryPicker"></mat-datepicker-toggle>
        <mat-datepicker #deliveryPicker></mat-datepicker>
      </mat-form-field>

      <!-- Shipping Instructions -->
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'SO.SHIPPING_INST' | translate }}</mat-label>
        <textarea matInput rows="3" formControlName="shippingInstructions"></textarea>
      </mat-form-field>

        </form>

        <mat-card class="mat-elevation-z10" style="margin-top: 16px;">
          <mat-card-header>
            <mat-card-title>
              {{ 'COMMON.ITEMS' | translate }}
              <button mat-stroked-button type="button" color="primary" (click)="addItemRow()">
                {{ 'COMMON.ADD_ITEM' | translate }}
              </button>
            </mat-card-title>
          </mat-card-header>
          <br/>
          <mat-card-content>
            <div [formGroup]="orderForm">
              <div formArrayName="items">
                <div
                  fxLayout="row wrap"
                  fxLayoutGap="12px"
                  *ngFor="let item of items.controls; let i = index"
                  [formGroupName]="i"
                >
                  <mat-form-field appearance="outline" fxFlex="25%">
                    <mat-label>{{ 'COMMON.PRODUCT' | translate }}</mat-label>
                    <input matInput formControlName="productId" [matAutocomplete]="productAuto" />
                    <mat-autocomplete #productAuto="matAutocomplete" (optionSelected)="onProductSelected($event, i)">
                      <mat-option *ngFor="let product of filteredProducts[i] | async" [value]="product.productId">
                        {{ product.productId }} - {{ product.productName }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="15%">
                    <mat-label>{{ 'COMMON.QTY' | translate }}</mat-label>
                    <input matInput type="number" formControlName="quantity" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="15%">
                    <mat-label>{{ 'COMMON.UNIT_PRICE' | translate }}</mat-label>
                    <input matInput type="number" formControlName="unitAmount" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="15%">
                    <mat-label>{{ 'COMMON.ATP' | translate }}</mat-label>
                    <input matInput type="number" formControlName="atpTotal" readonly />
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="15%">
                    <mat-label>{{ 'COMMON.ITEM_TYPE' | translate }}</mat-label>
                    <mat-select formControlName="itemTypeEnumId">
                      <mat-option *ngFor="let type of itemTypes" [value]="type.id">
                        {{ type.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div fxFlex="5%" fxLayoutAlign="start center">
                    <button mat-icon-button color="warn" type="button" (click)="removeItemRow(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex="100%" fxLayoutAlign="space-between center">
              <button mat-stroked-button matStepperNext type="button" color="primary">
                {{ 'COMMON.NEXT' | translate }}
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-step>

      <mat-step [stepControl]="paymentForm">
        <ng-template matStepLabel>{{ 'SO.STEP_PAYMENTS' | translate }}</ng-template>
        <mat-card class="mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'SO.PAYMENT_AND_SHIPPING' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="paymentForm" fxLayout="row wrap" fxLayoutGap="16px">
              <mat-form-field appearance="outline" fxFlex="48%">
                <mat-label>{{ 'SO.SHIP_BY' | translate }}</mat-label>
                <mat-select formControlName="shipByMethod">
                  <mat-option *ngFor="let option of shipByOptions" [value]="option.id">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="48%">
                <mat-label>{{ 'SO.PAYMENT_TERM' | translate }}</mat-label>
                <mat-select formControlName="paymentTerm">
                  <mat-option *ngFor="let term of paymentTerms" [value]="term.id">
                    {{ term.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="48%">
                <mat-label>{{ 'SO.PAYMENT_METHOD' | translate }}</mat-label>
                <mat-select formControlName="paymentMethod">
                  <mat-option *ngFor="let method of paymentMethods" [value]="method.id">
                    {{ method.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>{{ 'SO.PAYMENT_INSTRUCTIONS' | translate }}</mat-label>
                <textarea matInput rows="3" formControlName="paymentInstructions"></textarea>
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex="100%" fxLayoutAlign="space-between center">
              <button mat-stroked-button matStepperPrevious type="button" color="primary">
                {{ 'COMMON.BACK' | translate }}
              </button>
              <span
                [matTooltip]="getMissingFieldsTooltip()"
                [matTooltipDisabled]="!isSubmitDisabled()"
              >
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  form="soCreateForm"
                  [disabled]="isLoading || isSubmitDisabled()"
                >
                  <span *ngIf="!isLoading">{{ 'COMMON.CREATE_ORDER' | translate }}</span>
                  <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                </button>
              </span>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
