<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ 'SO.CREATE_TITLE' | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="orderForm" (ngSubmit)="createOrder()" fxLayout="row wrap" fxLayoutAlign="start">
      <!-- Store -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'SO.STORE' | translate }}</mat-label>
        <mat-select formControlName="productStoreId" (selectionChange)="updateVendorParty()">
          <mat-option *ngFor="let store of productStores" [value]="store.productStoreId">
            {{ store.storeName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('productStoreId')?.hasError('required')">
          {{ 'SO.STORE_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Vendor Org -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'SO.BILL_FROM' | translate }}</mat-label>
        <mat-select formControlName="vendorPartyId">
          <mat-option *ngFor="let party of filteredParties" [value]="party.value">
            {{ party.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('vendorPartyId')?.hasError('required')">
          {{ 'SO.VENDOR_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Facility -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'SO.FACILITY' | translate }}</mat-label>
        <mat-select formControlName="facilityId">
          <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId">
            {{ facility.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('facilityId')?.hasError('required')">
          {{ 'SO.FACILITY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Customer (Autocomplete) -->
      <mat-form-field fxFlex="70%" appearance="fill">
        <mat-label>{{ 'SO.BILL_TO' | translate }}</mat-label>
        <input matInput formControlName="customerPartyId" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCustomerSelected($event)">
          <mat-option *ngFor="let customer of filteredCustomers$ | async" [value]="customer.partyId">
            {{ customer.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="orderForm.get('customerPartyId')?.hasError('required')">
          {{ 'SO.CUSTOMER_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Shipping Address -->
      <mat-form-field fxFlex="70%" appearance="fill">
        <mat-label>Shipping Address</mat-label>
        <mat-select formControlName="shippingAddress">
          <mat-option *ngFor="let address of customerAddresses" [value]="address">
            {{ formatAddress(address) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div fxFlex="70%" fxLayoutAlign="start">
        <button mat-stroked-button type="button" color="primary" (click)="addCustomerAddress()">
          Add Address
        </button>
      </div>


      <!-- Ship Before Date -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'SO.SHIP_BEFORE_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="shipBeforePicker" formControlName="shipBeforeDate"  (click)="shipBeforePicker.open()"/>
        <mat-datepicker-toggle matSuffix [for]="shipBeforePicker"></mat-datepicker-toggle>
        <mat-datepicker #shipBeforePicker></mat-datepicker>
      </mat-form-field>

      <!-- Estimated Delivery Date -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'SO.EST_DELIVERY_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="deliveryPicker" formControlName="estimatedDeliveryDate"  (click)="deliveryPicker.open()"/>
        <mat-datepicker-toggle matSuffix [for]="deliveryPicker"></mat-datepicker-toggle>
        <mat-datepicker #deliveryPicker></mat-datepicker>
      </mat-form-field>

      <!-- Submit Button -->
      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'SO.SUBMIT' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z10" style="margin-top: 16px;">
  <mat-card-header>
    <mat-card-title>
      Items
      <button mat-stroked-button type="button" color="primary" (click)="addItemRow()">
        Add Item
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="orderForm">
      <div formArrayName="items">
        <div
          fxLayout="row wrap"
          fxLayoutGap="12px"
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field fxFlex="35%">
            <mat-label>Product</mat-label>
            <input matInput formControlName="productId" [matAutocomplete]="productAuto" />
            <mat-autocomplete #productAuto="matAutocomplete">
              <mat-option *ngFor="let product of filteredProducts[i] | async" [value]="product.productId">
                {{ product.productId }} - {{ product.productName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field fxFlex="15%">
            <mat-label>Qty</mat-label>
            <input matInput type="number" formControlName="quantity" />
          </mat-form-field>
          <mat-form-field fxFlex="20%">
            <mat-label>Unit Price</mat-label>
            <input matInput type="number" formControlName="unitAmount" />
          </mat-form-field>
          <mat-form-field fxFlex="20%">
            <mat-label>Item Type</mat-label>
            <mat-select formControlName="itemTypeEnumId">
              <mat-option *ngFor="let type of itemTypes" [value]="type.id">
                {{ type.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="5%" fxLayoutAlign="start center">
            <button mat-icon-button color="warn" type="button" (click)="removeItemRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
