<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/products']">{{ 'PRODUCT.TITLE' | translate }}</a>
      / {{ productDetail?.productId }}
    </mat-list-item>
  </mat-list>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title> {{ 'PRODUCT.OVERVIEW_TITLE' | translate }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="custom-list">
        <li class="custom-list-item">
          <strong>Name:</strong>
          {{ productDetail?.productName }}
          <mat-icon
            matListIcon
            class="custom-mat-icon custom-icon-align"
            color="primary"
            (click)="editProductDialog()"
            >edit</mat-icon
          >
        </li>
        <li class="custom-list-item">
          <strong>Type:</strong>
          {{ productTypeLabel || productDetail?.productTypeId }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'PRODUCT.INVENTORY_SUMMARY' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="inventorySummary">
        <ng-container matColumnDef="facility">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.FACILITY' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.facilityName || item.facilityId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="atpTotal">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ATP' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.atpTotal }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qohTotal">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.QOH' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.qohTotal }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="inventorySummaryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: inventorySummaryColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.PRICE_TITLE' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateProductPriceDialog()"
          >add</mat-icon
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="prices">
        <ng-container matColumnDef="typeDescription">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'PRODUCT.PRICE_TYPE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getPriceTypeDescription(item?.productPriceTypeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'PRODUCT.PRICE_PURPOSE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getPricePurposeDescription(item?.productPricePurposeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.PRICE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.price }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.ACTION' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <mat-icon
              matListIcon
              class="custom-mat-icon custom-icon-align"
              color="primary"
              (click)="addUpdateProductPriceDialog(item)"
              >edit</mat-icon
            >
            <mat-icon
              matListIcon
              class="custom-mat-icon custom-icon-align"
              color="warn"
              (click)="
                deleteProductPriceDialog({
                  productId: productId,
                  productPriceId: item.productPriceId
                })
              "
              >delete</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.CATEGORY_TITLE' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addProductCategoryDialog()"
          >add</mat-icon
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="categories">
        <ng-container matColumnDef="categoryName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'CATEGORY.NAME' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.categoryName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="productCategoryTypeId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'CATEGORY.TYPE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getCategoryTypeDescription(item?.productCategoryTypeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'CATEGORY.FROM_DATE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.fromDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="categoryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: categoryColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.CONTENT_TITLE' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateProductContentDialog()"
          >add</mat-icon
        ></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="contents">
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.TITLE_COL' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contentLocation">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.MIME_TYPE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.contentId; else noContentFile">
              <a href="#" (click)="$event.preventDefault(); openProductContent(item)">
                {{ item.contentLocation }}
              </a>
            </ng-container>
            <ng-template #noContentFile>--</ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: contentColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title
        >{{ 'PRODUCT.ASSOC_TITLE' | translate }}<mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateProductAssocDialog()"
          >add</mat-icon
        ></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="assocs">
        <ng-container matColumnDef="productName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.PRODUCT' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.toProduct.productName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'PRODUCT.TYPE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.type.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.FROM_DATE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.fromDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.SEQUENCE_NO' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.quantity }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="assocColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: assocColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title> {{ 'PRODUCT.ASSOCIATED_FROM_TITLE' | translate }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="toAssocs">
        <ng-container matColumnDef="productName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.PRODUCT' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.product.productName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'PRODUCT.TYPE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.type.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.FROM_DATE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.fromDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.SEQUENCE_NO' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.quantity }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="toAssocColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: toAssocColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
