<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner [diameter]="100" mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/products']">{{ 'COMMON.PRODUCTS_TITLE' | translate }}</a>
      / {{ productDetail?.productId }}
    </mat-list-item>
  </mat-list>
  <div fxLayout="row wrap" fxLayout.xs="column">
    <mat-card fxFlex.gt-xs="50%" class="card-margin mat-elevation-z10">
      <mat-card-header>
        <mat-card-title> {{ 'COMMON.OVERVIEW' | translate }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="custom-list">
          <li class="custom-list-item">
            <strong>{{ 'COMMON.PRODUCT_ID' | translate }}:</strong>
            {{ productDetail?.productId }}
          </li>
          <li class="custom-list-item">
            <strong>{{ 'COMMON.NAME' | translate }}:</strong>
            {{ productDetail?.productName }}
            <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
              (click)="editProductDialog()">edit</mat-icon>
          </li>
          <li class="custom-list-item">
            <strong>{{ 'PRODUCT.INTERNAL_NAME' | translate }}:</strong>
            {{ productDetail?.internalName }}
          </li>
          <li class="custom-list-item">
            <strong>{{ 'COMMON.DESCRIPTION' | translate }}:</strong>
            {{ productDetail?.description }}
          </li>
          <li class="custom-list-item">
            <strong>{{ 'COMMON.TYPE' | translate }}:</strong>
            {{ productTypeLabel || productDetail?.productTypeId }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-xs="48%" class="card-margin mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>{{ 'PRODUCT.CONFIGURATIONS_TITLE' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="custom-list">
          <li class="custom-list-item config-row">
            <strong>{{ 'PRODUCT.CONFIG_TAXABLE' | translate }}:</strong>
            <mat-checkbox [checked]="isFlagEnabled(productDetail?.taxable)"
              (change)="updateConfiguration('taxable', $event.checked)" [disabled]="isConfigSaving"></mat-checkbox>
          </li>
          <li class="custom-list-item config-row">
            <strong>{{ 'PRODUCT.CONFIG_RETURNABLE' | translate }}:</strong>
            <mat-checkbox [checked]="isFlagEnabled(productDetail?.returnable)"
              (change)="updateConfiguration('returnable', $event.checked)" [disabled]="isConfigSaving"></mat-checkbox>
          </li>
          <li class="custom-list-item config-row">
            <strong>{{ 'PRODUCT.CONFIG_APPLY_PROMOTIONS' | translate }}:</strong>
            <mat-checkbox [checked]="isFlagEnabled(productDetail?.includeInPromotions)"
              (change)="updateConfiguration('includeInPromotions', $event.checked)"
              [disabled]="isConfigSaving"></mat-checkbox>
          </li>
          <li class="custom-list-item config-row">
            <strong>{{ 'PRODUCT.CONFIG_SERIALIZED' | translate }}:</strong>
            <mat-checkbox [checked]="isFlagEnabled(productDetail?.serialized)"
              (change)="updateConfiguration('serialized', $event.checked)" [disabled]="isConfigSaving"></mat-checkbox>
          </li>
          <li class="custom-list-item config-row">
            <strong>{{ 'PRODUCT.CONFIG_REQUIRE_INSPECTION' | translate }}:</strong>
            <mat-checkbox [checked]="isFlagEnabled(productDetail?.requireInspection)"
              (change)="updateConfiguration('requireInspection', $event.checked)"
              [disabled]="isConfigSaving"></mat-checkbox>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'PRODUCT.INVENTORY_SUMMARY' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="inventorySummary">
        <ng-container matColumnDef="facility">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.FACILITY' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.facilityName || item.facilityId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="atpTotal">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ATP' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.atpTotal }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qohTotal">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.QOH' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.qohTotal }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="inventorySummaryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: inventorySummaryColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.FACILITIES_TITLE' | translate }}
        <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addProductFacilityDialog()">add</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="facility-scroll-container">
        <div *ngFor="let pf of productFacilities; let last = last" class="facility-section"
          style="margin-bottom: 20px;">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="facility-header">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="cursor: pointer;"
              (click)="pf.expanded = !pf.expanded">
              <mat-icon>{{ pf.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
              <h3 style="margin: 0;">{{ pf.facilityName }} ({{ pf.facilityId }})</h3>
            </div>
            <div>
              <button mat-icon-button color="primary" (click)="addProductFacilityDialog(pf)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteProductFacility(pf)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" class="facility-details" *ngIf="pf.expanded"
            style="margin-bottom: 10px; color: rgba(0,0,0,.54);">
            <!-- <div><strong>{{ 'PRODUCT.MIN_STOCK' | translate }}:</strong> {{ pf.minimumStock }}</div> -->
            <div><strong>Min Stock:</strong> {{ pf.minimumStock }}</div>
            <!-- <div><strong>{{ 'PRODUCT.REORDER_QTY' | translate }}:</strong> {{ pf.reorderQuantity }}</div> -->
            <div><strong>Reorder Qty:</strong> {{ pf.reorderQuantity }}</div>
            <!-- <div><strong>{{ 'PRODUCT.DAYS_TO_SHIP' | translate }}:</strong> {{ pf.daysToShip }}</div> -->
            <div><strong>Days to Ship:</strong> {{ pf.daysToShip }}</div>
          </div>

          <div class="locations-section" style="padding-left: 20px;" *ngIf="pf.expanded">
            <h4 style="margin-bottom: 5px;">
              {{ 'PRODUCT.LOCATIONS' | translate }}
              <button mat-icon-button color="primary" (click)="addProductFacilityLocationDialog(pf)"
                style="transform: scale(0.8);">
                <mat-icon>add</mat-icon>
              </button>
            </h4>
            <table mat-table [dataSource]="pf.locations" *ngIf="pf.locations?.length > 0" class="mat-elevation-z1"
              style="width: 100%;">
              <ng-container matColumnDef="locationSeqId">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.LOCATION_ID' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.locationSeqId}} </td>
              </ng-container>
              <ng-container matColumnDef="locationName">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.LOCATION_NAME' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.locationName}} </td>
              </ng-container>
              <ng-container matColumnDef="minimumStock">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.MIN_STOCK' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.minimumStock}} </td>
              </ng-container>
              <ng-container matColumnDef="moveQuantity">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.MOVE_QTY' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.moveQuantity}} </td>
              </ng-container>
              <ng-container matColumnDef="reorderQuantity">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.REORDER_QTY' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.reorderQuantity}} </td>
              </ng-container>
              <ng-container matColumnDef="maximumStock">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRODUCT.MAX_STOCK' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.maximumStock}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> {{ 'COMMON.ACTION' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="custom-mat-icon" color="primary"
                    (click)="addProductFacilityLocationDialog(pf, element)"
                    style="cursor: pointer; margin-right: 8px; font-size: 20px;">edit</mat-icon>
                  <mat-icon class="custom-mat-icon" color="warn" (click)="deleteProductFacilityLocation(element)"
                    style="cursor: pointer; font-size: 20px;">delete</mat-icon>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="productFacilityLocationColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: productFacilityLocationColumns;"></tr>
            </table>
            <div *ngIf="!pf.locations?.length" style="padding: 10px; color: rgba(0,0,0,.38);">{{ 'PRODUCT.NO_LOCATIONS'
              |
              translate }}</div>
          </div>
          <mat-divider style="margin-top: 20px;" *ngIf="!last"></mat-divider>
        </div>
      </div>
      <div *ngIf="!productFacilities.length" style="padding: 20px; text-align: center;">
        {{ 'PRODUCT.NO_FACILITIES' | translate }}
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.FEATURES_TITLE' | translate }}
        <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addProductFeatureDialog({ isNew: true })">add</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-scroll">
        <table mat-table [dataSource]="productFeatures">
          <ng-container matColumnDef="productFeatureId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FEATURE.ID' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.productFeatureId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="featureDescription">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.DESCRIPTION' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.featureDescription || item.featureAbbrev || item.productFeatureId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="productFeatureApplTypeId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FEATURE.APPL_TYPE' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.productFeatureApplTypeId }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sequenceNum">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FEATURE.SEQUENCE_NUM' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.sequenceNum }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fromDate">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'FEATURE.FROM_DATE' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.fromDate | date : "MMMM d, y" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ACTION' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
                (click)="addProductFeatureDialog(item)">edit</mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="productFeatureColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: productFeatureColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'SUPPLIER.SUPPLIER_PRODUCTS' | translate }}
        <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addSupplierProductDialog()">add</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="supplierProducts">
        <ng-container matColumnDef="partyId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SUPPLIER.SUPPLIER_NAME' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.partyId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="supplierProductName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SUPPLIER.SUPPLIER_PRODUCT_NAME' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.supplierProductName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastPrice">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SUPPLIER.LAST_PRICE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.lastPrice }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ACTION' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="warn"
              (click)="deleteSupplierProduct(item)">delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="supplierProductColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: supplierProductColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'COMMON.PRICE_TITLE' | translate }}
        <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addUpdateProductPriceDialog()">add</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-scroll">
        <table mat-table [dataSource]="prices">
          <ng-container matColumnDef="typeDescription">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'COMMON.PRICE_TYPE' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ getPriceTypeDescription(item?.productPriceTypeId) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'COMMON.PRICE_PURPOSE' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ getPricePurposeDescription(item?.productPricePurposeId) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.PRICE' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.price }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.ACTION' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
                (click)="addUpdateProductPriceDialog(item)">edit</mat-icon>
              <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="warn" (click)="
                deleteProductPriceDialog({
                  productId: productId,
                  productPriceId: item.productPriceId
                })
              ">delete</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.CATEGORY_TITLE' | translate }}
        <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addProductCategoryDialog()">add</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-scroll">
        <table mat-table [dataSource]="categories">
          <ng-container matColumnDef="categoryName">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'CATEGORY.NAME' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item?.categoryName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="productCategoryTypeId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'CATEGORY.TYPE' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ getCategoryTypeDescription(item?.productCategoryTypeId) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fromDate">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'CATEGORY.FROM_DATE' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.fromDate | date : "MMMM d, y" }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="categoryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: categoryColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PRODUCT.CONTENT_TITLE' | translate }}
        <mat-icon matListIcon class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addUpdateProductContentDialog()">add</mat-icon></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="contents">
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.TITLE_COL' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contentLocation">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.MIME_TYPE' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.contentId; else noContentFile">
              <a href="#" (click)="$event.preventDefault(); openProductContent(item)">
                {{ item.contentLocation }}
              </a>
            </ng-container>
            <ng-template #noContentFile>--</ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: contentColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'PRODUCT.ASSOC_TITLE' | translate }}<mat-icon matListIcon
          class="custom-mat-icon custom-icon-align" color="primary"
          (click)="addUpdateProductAssocDialog()">add</mat-icon></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-scroll">
        <table mat-table [dataSource]="assocs">
          <ng-container matColumnDef="productName">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.PRODUCT' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.toProduct.productName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'COMMON.TYPE' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.type.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fromDate">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.FROM_DATE' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.fromDate | date : "MMMM d, y" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.SEQUENCE_NO' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.quantity }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="assocColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: assocColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title> {{ 'PRODUCT.ASSOCIATED_FROM_TITLE' | translate }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-scroll">
        <table mat-table [dataSource]="toAssocs">
          <ng-container matColumnDef="productName">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.PRODUCT' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.product.productName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'COMMON.TYPE' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.type.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fromDate">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.FROM_DATE' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.fromDate | date : "MMMM d, y" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'PRODUCT.SEQUENCE_NO' | translate }}</th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.quantity }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="toAssocColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: toAssocColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>