.contenedor-padre {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; /* Ensures the container takes full width */
}

.barra {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.contenido {
  display: flex;
  flex-grow: 1;
  width: 100%; /* Ensures the container takes full width */
}

.sidenav {
  min-width: 300px;
  width: 300px;
  height: 100%;
  overflow: auto; /* Ensures the sidenav is scrollable */
}

.sidenav-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Makes the main content scrollable */
  height: calc(100vh - 64px); /* Adjusts the height to account for the toolbar height */
}

.custom-expansion-panel {
  padding-left: 18px;
}

.custom-expansion-panel-body {
  padding-left: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.custom-icon {
  margin-right: 8px;
}

.mat-card-content {
  overflow: auto;
}
