<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'SO.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'COMMON.SEARCH' | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="queryString"
          (input)="getOrders(1, queryString)"
          autofocus
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-card-actions>
    <mat-card-content>
      <table mat-table [dataSource]="items" matSort [matSortDisableClear]="true" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="id">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="id">
            {{ 'COMMON.ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <a [routerLink]="['/orders', item.id]">{{ item.id }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="orderId">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="orderId">
            {{ 'ORDER_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.orderId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="customerName">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="customerName">
            {{ 'SO.BILL_TO' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.vendorOrganizationName; else elseBlock">
              <span>{{ item.vendorOrganizationName }}</span>
            </ng-container>
            <ng-template #elseBlock>
              <span>{{ item.firstName }} {{ item.lastName }}</span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="organizationName">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="organizationName">
            {{ 'SO.BILL_FROM' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.organizationName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="entryDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="entryDate">
            {{ 'SO.ORDER_DATE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.entryDate | date : 'MMMM d, y' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="statusDescription">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="statusDescription">
            {{ 'COMMON.STATUS' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.statusDescription }}
          </td>
        </ng-container>
        <ng-container matColumnDef="storeName">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="storeName">
            {{ 'SO.STORE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.organizationName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="grandTotal">
          <th mat-header-cell class="text-left" *matHeaderCellDef mat-sort-header="grandTotal">
            {{ 'SO.TOTAL' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item.grandTotal | currency }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSize]="pagination.rowsPerPage"
        [length]="pages"
        (page)="getOrders($event.pageIndex + 1, queryString)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-template>
