<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>
      <h3>{{ 'CATEGORY.CREATE_TITLE' | translate }}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      (ngSubmit)="createCategory()"
      [formGroup]="categoryForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field fxFlex="70%">
        <input
          matInput
          placeholder="{{ 'CATEGORY.NAME' | translate }}"
          formControlName="categoryName"
        />
        <mat-error
          *ngIf="categoryForm.get('categoryName')?.hasError('required')"
          >{{ 'CATEGORY.NAME_REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'CATEGORY.TYPE' | translate }}</mat-label>
        <mat-select
          formControlName="productCategoryTypeId"
          name="productCategoryTypeId"
        >
          <mat-option
            *ngFor="let categoryType of categoryTypes"
            [value]="categoryType.productCategoryTypeId"
            >{{ categoryType.description }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="70%">
        <textarea
          matInput
          placeholder="{{ 'CATEGORY.DESCRIPTION' | translate }}"
          formControlName="description"
          name="description"
        ></textarea>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'CATEGORY.SUBMIT' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
