<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner [diameter]="100" mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'PICKLIST.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="16px" class="filter-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PICKLIST.FACILITY' | translate }}</mat-label>
          <mat-select [(ngModel)]="filters.facilityId">
            <mat-option value="">{{ 'COMMON.ALL' | translate }}</mat-option>
            <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId">
              {{ facility.label || facility.facilityId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PICKLIST.STATUS' | translate }}</mat-label>
          <mat-select [(ngModel)]="filters.statusId">
            <mat-option value="">{{ 'COMMON.ALL' | translate }}</mat-option>
            <mat-option *ngFor="let status of statusOptions" [value]="status.statusId">
              {{ status.description || status.statusId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PICKLIST.FROM_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="fromPicker" [(ngModel)]="filters.fromDate" />
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PICKLIST.TO_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="toPicker" [(ngModel)]="filters.toDate" />
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
        <div class="filter-actions">
          <button mat-raised-button color="primary" (click)="loadPicklists()">
            {{ 'COMMON.SEARCH' | translate }}
          </button>
          <button mat-stroked-button (click)="resetFilters()">
            {{ 'COMMON.CLEAR' | translate }}
          </button>
        </div>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="picklists">
          <ng-container matColumnDef="picklistId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'PICKLIST.ID' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              <a [routerLink]="['/picklists', item.picklistId]">{{ item.picklistId }}</a>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'PICKLIST.CREATED_DATE' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.createdDate | date : "MMMM d, y" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="pickerId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'PICKLIST.PICKER' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ item.pickerId || '--' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="orderCount">
            <th mat-header-cell class="text-right" *matHeaderCellDef>
              {{ 'PICKLIST.ORDER_COUNT' | translate }}
            </th>
            <td mat-cell class="text-right" *matCellDef="let item">
              {{ item.orderCount }}
            </td>
          </ng-container>
          <ng-container matColumnDef="itemCount">
            <th mat-header-cell class="text-right" *matHeaderCellDef>
              {{ 'PICKLIST.ITEM_COUNT' | translate }}
            </th>
            <td mat-cell class="text-right" *matCellDef="let item">
              {{ item.itemCount }}
            </td>
          </ng-container>
          <ng-container matColumnDef="statusId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'PICKLIST.STATUS' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ getStatusLabel(item.statusId) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="facilityId">
            <th mat-header-cell class="text-left" *matHeaderCellDef>
              {{ 'PICKLIST.FACILITY' | translate }}
            </th>
            <td mat-cell class="text-left" *matCellDef="let item">
              {{ getFacilityLabel(item.facilityId) }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
