<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/pos']">{{ 'PO.TITLE' | translate }}</a>
      / {{ orderHeader?.orderId }}
    </mat-list-item>
  </mat-list>
  <mat-card class="mat-elevation-z10">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>{{ 'PO.OVERVIEW' | translate }}</mat-card-title>
      <div fxLayout="row" fxLayoutGap="12px">
        <button mat-icon-button color="primary" (click)="openPdf()" aria-label="Open PDF">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button mat-raised-button color="primary" *ngIf="canApprove" (click)="approveOrder()">
          {{ 'COMMON.APPROVE' | translate }}
        </button>
        <button mat-raised-button color="accent" *ngIf="canReceive" (click)="goToReceive()">
          Receive
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let field of overviewFields">
          <span matListItemTitle>{{ field.label | translate }}:</span>
          <span matListItemLine>{{ field.value }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title
        >{{ 'PO.NOTES' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateNoteDialog()"
          >add</mat-icon
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="orderNotes">
        <ng-container matColumnDef="noteText">
          <th mat-header-cell *matHeaderCellDef>{{ 'PO.NOTE' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.noteText }}</td>
        </ng-container>
        <ng-container matColumnDef="noteDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'PO.NOTE_DATE' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            {{ item.noteDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>{{ 'PO.CREATED_BY' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.userId }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.ACTION' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <mat-icon
              matListIcon
              class="custom-mat-icon custom-icon-align"
              color="primary"
              (click)="addUpdateNoteDialog(item)"
              >edit</mat-icon
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="noteColumnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: noteColumnKeys"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card *ngFor="let part of parts">
    <mat-card-header>
      <mat-card-title>{{ 'PO.PARTS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'PO.PART_DETAILS' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'PO.PART_NO' | translate }}:</strong> {{ part.orderPartSeqId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'PO.PART_STATUS' | translate }}:</strong> {{ part?.status?.description }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'PO.PHONE_NO' | translate }}:</strong>
                {{ part?.telecom?.telecomNumber?.countryCode }}
                {{ part?.telecom?.telecomNumber?.areaCode }}
                {{ part?.telecom?.telecomNumber?.contactNumber }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'PO.SHIP_BEFORE_DATE' | translate }}:</strong>
                {{ part?.shipBeforeDate | date : "MMMM d, y" }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'PO.PART_TOTAL' | translate }}:</strong>
                {{ part?.partTotal | currency : orderHeader?.currencyUomId }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'PO.SHIP_TO' | translate }}:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'COMMON.FACILITY' | translate }}:</strong> {{ part.facility.facilityName }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'PO.ADDRESS' | translate }}:</strong>
                <div>
                  {{ facilityAddress?.toName || orderShipToAddress?.toName }}
                </div>
                <div>{{ facilityAddress?.address1 || orderShipToAddress?.address1 }}</div>
                <div>{{ facilityAddress?.address2 || orderShipToAddress?.address2 }}</div>
                <div>
                  {{ facilityAddress?.city || orderShipToAddress?.city }},
                  {{ facilityAddress?.stateProvinceGeoId || orderShipToAddress?.stateProvinceGeoId }}
                  {{ facilityAddress?.postalCode || orderShipToAddress?.postalCode }}
                  {{ facilityAddress?.countryGeoId || orderShipToAddress?.countryGeoId }}
                </div>
              </li>
              <li class="custom-list-item" *ngIf="!facilityAddress && !orderShipToAddress">
                <strong>{{ 'PO.ADDRESS' | translate }}:</strong>
                <mat-icon
                  matListIcon
                  class="custom-mat-icon custom-icon-align"
                  color="primary"
                  (click)="addShipToAddress()"
                >add</mat-icon>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-header>
            <mat-card-title>{{ 'PO.SHIP_FROM' | translate }}:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'COMMON.NAME' | translate }}:</strong>
                {{ vendorName || part?.vendor?.organization?.organizationName || vendorPartyId }}
              </li>
            </ul>

            <ul class="custom-list" *ngIf="vendorAddresses.length; else noVendorAddress">
              <li class="custom-list-item" *ngFor="let primaryAddress of vendorAddresses">
                <strong>{{ 'PO.ADDRESS' | translate }}:</strong>
                <mat-icon
                  matListIcon
                  class="custom-mat-icon custom-icon-align"
                  color="primary"
                  (click)="editVendorAddress(primaryAddress)"
                >edit</mat-icon>
                <div>{{ primaryAddress.toName }}</div>
                <div>{{ primaryAddress.address1 }}</div>
                <div>{{ primaryAddress.address2 }}</div>
                <div>
                  {{ primaryAddress.city }},
                  {{ primaryAddress.stateProvinceGeoId }}
                  {{ primaryAddress.postalCode }}
                  {{ primaryAddress.countryGeoId }}
                </div>
              </li>
            </ul>
            <ng-template #noVendorAddress>
              <div class="custom-list-item">
                <strong>{{ 'PO.ADDRESS' | translate }}:</strong>
                <mat-icon
                  matListIcon
                  class="custom-mat-icon custom-icon-align"
                  color="primary"
                  (click)="editVendorAddress()"
                >add</mat-icon>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <br />
    <mat-card-content>
      <mat-card class="mat-elevation-z10">
        <mat-card-header>
          <mat-card-title
            >{{ 'COMMON.ITEMS' | translate }}
            <mat-icon
              matListIcon
              class="custom-mat-icon custom-icon-align"
              color="primary"
              (click)="addItemDialog({ orderPartSeqId: part.orderPartSeqId })"
              >add</mat-icon
            >
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="part.items">
            <ng-container matColumnDef="productId">
              <th mat-header-cell *matHeaderCellDef>{{ 'PO.PRODUCT_ID' | translate }}</th>
              <td mat-cell *matCellDef="let item">{{ item.productId }}</td>
            </ng-container>
            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef>{{ 'PO.PRODUCT_NAME' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                {{ getProductName(item) }}
              </td>
            </ng-container>
            <ng-container matColumnDef="itemDescription">
              <th mat-header-cell *matHeaderCellDef>{{ 'PO.ITEM_DESCRIPTION' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                {{ item.itemDescription }}
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.ITEM_TYPE' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                {{
                  getOrderItemTypeDescription(
                    item.itemType?.description ||
                      item.orderItemTypeId ||
                      item.itemTypeEnumId
                  )
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="requiredByDate">
              <th mat-header-cell *matHeaderCellDef>{{ 'PO.REQUIRED_BY_DATE' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                {{ item.requiredByDate | date : "MMMM d, y" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="unitAmount">
              <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.PRICE' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                {{ item.unitAmount | currency : orderHeader?.currencyUomId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.QTY' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                <ng-container *ngIf="canEditItems; else readonlyQty">
                  <ng-container *ngIf="isEditingItem(item); else qtyDisplay">
                    <mat-form-field appearance="outline" class="inline-edit-field">
                      <input matInput type="number" [(ngModel)]="editingQuantity" />
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)="saveQuantity(item)" [disabled]="isSavingQuantity">
                      <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="cancelEditQuantity()" [disabled]="isSavingQuantity">
                      <mat-icon>close</mat-icon>
                    </button>
                  </ng-container>
                  <ng-template #qtyDisplay>
                    {{ item.quantity }}
                    <button mat-icon-button color="primary" (click)="startEditQuantity(item)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </ng-template>
                </ng-container>
                <ng-template #readonlyQty>{{ item.quantity }}</ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="receivedQuantity">
              <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.RECEIVED' | translate }}</th>
              <td mat-cell *matCellDef="let item">{{ item.receivedQuantity }}</td>
            </ng-container>
            <ng-container matColumnDef="remainingQuantity">
              <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.REMAINING' | translate }}</th>
              <td mat-cell *matCellDef="let item">{{ item.remainingQuantity }}</td>
            </ng-container>
            <ng-container matColumnDef="totalAmount">
              <th mat-header-cell *matHeaderCellDef>{{ 'PO.TOTAL_AMOUNT' | translate }}</th>
              <td mat-cell *matCellDef="let item">
                {{
                  item.quantity * item.unitAmount
                    | currency : orderHeader?.currencyUomId
                }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="partColumnKeys"></tr>
            <tr mat-row *matRowDef="let row; columns: partColumnKeys"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'PO.CONTENTS' | translate }}
        <mat-icon
          matListIcon
          class="custom-mat-icon custom-icon-align"
          color="primary"
          (click)="addUpdateContentDialog()"
          >add</mat-icon
        ></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="contents">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>{{ 'PO.TITLE_COL' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.description }}</td>
        </ng-container>
        <ng-container matColumnDef="contentDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'PO.CONTENT_COL' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            {{ item.contentDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contentLocation">
          <th mat-header-cell *matHeaderCellDef>{{ 'PO.MIME_TYPE' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="item.contentId; else noContentFile">
              <a href="#" (click)="$event.preventDefault(); openOrderContent(item)">
                {{ item.contentLocation }}
              </a>
            </ng-container>
            <ng-template #noContentFile>--</ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contentColumnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: contentColumnKeys"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.SHIPMENTS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="shipments">
        <ng-container matColumnDef="shipmentId">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.SHIPMENT' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <a [routerLink]="['/shipments', item.shipmentId]">{{ item.shipmentId }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="shipmentTypeId">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.ITEM_TYPE' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ getShipmentTypeDescription(item.shipmentTypeId) }}</td>
        </ng-container>
        <ng-container matColumnDef="statusId">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.STATUS' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ getStatusDescription(item.statusId) }}</td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.CREATED' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            {{ item.createdDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="shipmentColumnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: shipmentColumnKeys"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.INVOICES' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="invoiceItems">
        <ng-container matColumnDef="invoiceId">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.INVOICE' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.invoiceId }}</td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.PRODUCT' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.productId }}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.QTY' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>{{ 'COMMON.AMOUNT' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            {{ item.amount | currency : (item.currencyUomId || orderHeader?.currencyUomId) }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="invoiceColumnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: invoiceColumnKeys"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
