<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>{{ 'MANUFACTURING.ADD_ITEM' | translate }}</mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="addConsumable()"
      [formGroup]="addConsumableForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
      fxLayoutGap="12px"
    >
      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'COMMON.PRODUCT' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'COMMON.PRODUCT' | translate"
          [matAutocomplete]="autoProduct"
          formControlName="productId"
        />
        <mat-autocomplete #autoProduct="matAutocomplete">
          <mat-option
            *ngFor="let product of filteredProducts$ | async"
            [value]="product.productId"
          >
            {{ product.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="addConsumableForm.get('productId')?.hasError('required')">
          {{ 'COMMON.PRODUCT_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70%">
        <input
          matInput
          type="number"
          [placeholder]="'COMMON.QTY' | translate"
          formControlName="estimatedQuantity"
          required
        />
        <mat-error *ngIf="addConsumableForm.get('estimatedQuantity')?.hasError('required')">
          {{ 'COMMON.QTY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button mat-dialog-close color="primary">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
