<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>{{ 'BOM.ADD_ITEM' | translate }}</mat-card-title>
  <mat-card-content mat-dialog-content>
    <div class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'BOM.COMPONENT' | translate }}</mat-label>
        <input matInput [(ngModel)]="componentProductId" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'BOM.QTY' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="quantity" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'BOM.FROM_DATE' | translate }}</mat-label>
        <input matInput [(ngModel)]="fromDate" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start" class="mt-2">
      <button mat-raised-button color="primary" (click)="save()" class="me-4">{{ 'COMMON.SAVE' | translate }}</button>
      <button mat-stroked-button (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
  </mat-card-content>
</mat-card>