<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'FEATURE.ADD_TO_GROUP_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="createProductFeatureGroupAppl()"
      [formGroup]="createProductFeatureGroupApplForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field fxFlex="100%" *ngIf="isNew">
        <mat-label>{{ 'FEATUREGROUP.TITLE' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'FEATUREGROUP.TITLE' | translate"
          [matAutocomplete]="auto"
          formControlName="productFeatureGroupId"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let product of filteredGroups$ | async"
            [value]="product.productFeatureGroupId"
          >
            {{ product.description }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            createProductFeatureGroupApplForm
              .get('productFeatureGroupId')
              ?.hasError('required')
          "
          >{{ 'FEATURE.GROUP_REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <mat-form-field fxFlex="100%">
        <mat-label>{{ 'FEATURE.SEQUENCE_NUM' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'FEATURE.SEQUENCE_NUM' | translate"
          formControlName="sequenceNum"
        />
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'FEATURE.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button mat-dialog-close color="primary">{{ 'FEATURE.CLOSE' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
