<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'COMMON.PRICE_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="addUpdateProductPrice()"
      [formGroup]="addUpdateProductPriceForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'COMMON.TYPE' | translate }}</mat-label>
        <mat-select formControlName="productPriceTypeId" name="productPriceTypeId">
          <mat-option
            *ngFor="let priceTypeEnum of priceTypeEnums"
            [value]="priceTypeEnum.productPriceTypeId"
            >{{ priceTypeEnum.description }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="
            addUpdateProductPriceForm
              .get('productPriceTypeId')
              ?.hasError('required')
          "
          >{{ 'COMMON.TYPE_REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'PRODUCT.PURPOSE' | translate }}</mat-label>
        <mat-select
          formControlName="productPricePurposeId"
          name="productPricePurposeId"
        >
          <mat-option
            *ngFor="let pricePurposeEnum of pricePurposeEnums"
            [value]="pricePurposeEnum.productPricePurposeId"
            >{{ pricePurposeEnum.description }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="
            addUpdateProductPriceForm
              .get('productPricePurposeId')
              ?.hasError('required')
          "
          >{{ 'PRODUCT.PURPOSE_REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'COMMON.PRICE' | translate }}</mat-label>
        <input matInput [placeholder]="'COMMON.PRICE' | translate" formControlName="price" />
        <mat-error
          *ngIf="addUpdateProductPriceForm.get('price')?.hasError('required')"
          >{{ 'COMMON.PRICE' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'COMMON.PRICE_UOM' | translate }}</mat-label>
        <mat-select formControlName="currencyUomId">
          <mat-option *ngFor="let uom of priceUomOptions" [value]="uom.uomId">
            {{ uom.description }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            addUpdateProductPriceForm.get('currencyUomId')?.hasError('required')
          "
          >{{ 'COMMON.PRICE_UOM_REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button mat-dialog-close color="primary">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
