<mat-card class="language-dialog">
  <mat-card-title mat-dialog-title>{{ 'COMMON.CHANGE_LANGUAGE' | translate }}</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'COMMON.SELECT_LANGUAGE' | translate }}</mat-label>
      <mat-select [(value)]="selectedLanguage">
        <mat-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.labelKey | translate }} ({{ lang.code.toUpperCase() }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button (click)="dialogRef.close()">{{ 'COMMON.CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" (click)="apply()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
