<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Shipments</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input
          matInput
          [(ngModel)]="queryString"
          (input)="getShipments(1, queryString)"
          autofocus
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-card-actions>
    <mat-card-content>
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="shipmentId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>ID</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <a [routerLink]="['/shipments', item.shipmentId]">{{ item.shipmentId }}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="statusId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Status</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getStatusDescription(item.statusId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="shipmentTypeId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Type</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getShipmentTypeDescription(item.shipmentTypeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="destinationFacilityId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Destination Facility</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.destinationFacilityId }}</td>
        </ng-container>
        <ng-container matColumnDef="primaryOrderId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Order</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.primaryOrderId }}</td>
        </ng-container>
        <ng-container matColumnDef="estimatedShipDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Estimated Ship Date</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.estimatedShipDate | date : 'MMMM d, y' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSize]="pagination.rowsPerPage"
        [length]="pages"
        (page)="getShipments($event.pageIndex + 1, queryString)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-template>
