<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ 'USER.CREATE_TITLE' | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      (ngSubmit)="createUser()"
      [formGroup]="userForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'USER.ID' | translate }}</mat-label>
        <input matInput formControlName="userLoginId" />
        <mat-error *ngIf="userForm.get('userLoginId')?.hasError('required')">
          {{ 'USER.ID' | translate }} {{ 'COMMON.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'USER.PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          {{ 'USER.PASSWORD' | translate }} {{ 'COMMON.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'USER.FIRST_NAME' | translate }}</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'USER.LAST_NAME' | translate }}</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'USER.STATUS' | translate }}</mat-label>
        <mat-select formControlName="enabled">
          <mat-option [value]="true">{{ 'USER.ENABLED' | translate }}</mat-option>
          <mat-option [value]="false">{{ 'USER.DISABLED' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70%">
        <mat-label>{{ 'USER.REQUIRE_PASSWORD_CHANGE' | translate }}</mat-label>
        <mat-select formControlName="requirePasswordChange">
          <mat-option [value]="true">{{ 'COMMON.YES' | translate }}</mat-option>
          <mat-option [value]="false">{{ 'COMMON.NO' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
