<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'FEATUREGROUP.CATEGORIES_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="createProductCategoryFeatGrpAppl()"
      [formGroup]="categoryFeatureGroupApplForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field fxFlex="100%">
        <mat-label>{{ 'CATEGORY.TITLE' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'CATEGORY.TITLE' | translate"
          [matAutocomplete]="auto"
          formControlName="productCategoryId"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let category of filteredCategories$ | async"
            [value]="category.productCategoryId"
          >
            {{ category.categoryName }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="categoryFeatureGroupApplForm.get('productCategoryId')?.hasError('required')"
        >
          {{ 'FEATUREGROUP.CATEGORY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100%">
        <mat-label>{{ 'FEATURE.APPL_TYPE' | translate }}</mat-label>
        <mat-select formControlName="applTypeEnumId" name="applTypeEnumId">
          <mat-option
            *ngFor="let enumType of enumTypes"
            [value]="enumType.enumId"
          >
            {{ enumType.description }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="categoryFeatureGroupApplForm.get('applTypeEnumId')?.hasError('required')"
        >
          {{ 'FEATURE.APPL_TYPE_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'FEATUREGROUP.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button mat-dialog-close color="primary">{{ 'FEATUREGROUP.CLOSE' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
