<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'PO.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'COMMON.SEARCH' | translate }}</mat-label>
        <input
          matInput
          [(ngModel)]="queryString"
          (input)="getOrders(1, 10, queryString)"
          autofocus
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-card-actions>
    <mat-card-content>
      <table mat-table [dataSource]="items" matSort [matSortDisableClear]="true" (matSortChange)="onSortChange($event)">
        <ng-container
          *ngFor="let column of displayedColumns"
          [matColumnDef]="column.key"
        >
          <th mat-header-cell *matHeaderCellDef class="text-left" [mat-sort-header]="column.key">
            {{ column.value | translate }}
          </th>
          <td mat-cell *matCellDef="let item" class="text-left">
            <a *ngIf="column.key === 'id'" [routerLink]="['/pos', item[column.key]]">
              {{ item[column.key] }}
            </a>
            <span *ngIf="column.key !== 'id'">
              {{ item[column.key] }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnKeys"></tr>
      </table>
      <mat-paginator
        [pageSize]="pagination.rowsPerPage"
        [length]="pages"
        [pageSizeOptions]="[10, 20, 30, 100]"
        (page)="getOrders($event.pageIndex + 1, $event.pageSize, queryString)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-template>
