<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ 'PO.CREATE_TITLE' | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="poForm"
      (ngSubmit)="createPO()"
      fxLayout="row wrap"
      fxLayoutAlign="start"
      autocomplete="off"
    >
      <!-- Supplier Autocomplete -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'PO.SUPPLIER' | translate }}</mat-label>
        <input
          matInput
          placeholder="Supplier"
          [matAutocomplete]="auto"
          formControlName="vendorPartyId"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let supplier of filteredSuppliers$ | async"
            [value]="supplier.partyId"
          >
            {{ supplier.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="poForm.get('vendorPartyId')?.hasError('required')">
          {{ 'PO.SUPPLIER_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Customer Org (Dropdown) -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'PO.CUSTOMER_ORG' | translate }}</mat-label>
        <mat-select placeholder="Customer Org" formControlName="customerPartyId">
          <mat-option
            *ngFor="let party of customerParties"
            [value]="party.value"
            >{{ party.label }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="poForm.get('customerPartyId')?.hasError('required')">
          {{ 'PO.CUSTOMER_ORG_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Facility Dropdown -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'PO.FACILITY' | translate }}</mat-label>
        <mat-select placeholder="Facility" formControlName="facilityId">
          <mat-option
            *ngFor="let facility of facilities"
            [value]="facility.facilityId"
            >{{ facility.label }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="poForm.get('facilityId')?.hasError('required')">
          {{ 'PO.FACILITY_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Ship Before Date -->
      <mat-form-field fxFlex="70%">
        <mat-label>{{ 'PO.SHIP_BEFORE_DATE' | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="shipBeforePicker"
          formControlName="shipBeforeDate"
          [placeholder]="'PO.SHIP_BEFORE_DATE' | translate"
          (click)="shipBeforePicker.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="shipBeforePicker"></mat-datepicker-toggle>
        <mat-datepicker #shipBeforePicker></mat-datepicker>
      </mat-form-field>

      <!-- Estimated Delivery Date -->
      <mat-form-field fxFlex="70%">
        <mat-label>Estimated Delivery Date</mat-label>
        <input
          matInput
          [matDatepicker]="deliveryPicker"
          placeholder="Estimated Delivery Date"
          formControlName="estimatedDeliveryDate"
          (click)="deliveryPicker.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="deliveryPicker"></mat-datepicker-toggle>
        <mat-datepicker #deliveryPicker></mat-datepicker>
      </mat-form-field>

    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z10" style="margin-top: 16px;">
  <mat-card-header>
    <mat-card-title>
      Items
      <button mat-stroked-button type="button" color="primary" (click)="addItemRow()">
        Add Item
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="poForm">
      <div formArrayName="items">
        <div
          fxLayout="row wrap"
          fxLayoutGap="12px"
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field fxFlex="35%">
            <mat-label>Product</mat-label>
            <input matInput formControlName="productId" [matAutocomplete]="productAuto" />
            <mat-autocomplete #productAuto="matAutocomplete">
              <mat-option *ngFor="let product of filteredProducts[i] | async" [value]="product.productId">
                {{ product.productId }} - {{ product.productName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field fxFlex="15%">
            <mat-label>Qty</mat-label>
            <input matInput type="number" formControlName="quantity" />
          </mat-form-field>
          <mat-form-field fxFlex="20%">
            <mat-label>Unit Cost</mat-label>
            <input matInput type="number" formControlName="unitAmount" />
          </mat-form-field>
          <mat-form-field fxFlex="20%">
            <mat-label>Item Type</mat-label>
            <mat-select formControlName="itemTypeEnumId">
              <mat-option *ngFor="let type of itemTypes" [value]="type.id">
                {{ type.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="5%" fxLayoutAlign="start center">
            <button mat-icon-button color="warn" type="button" (click)="removeItemRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex="100%" fxLayoutAlign="start">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="me-4"
        [disabled]="isLoading"
      >
        <span *ngIf="!isLoading">{{ 'PO.SUBMIT' | translate }}</span>
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
