<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ 'CUSTOMER.CREATE_TITLE' | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      (ngSubmit)="createCustomer()"
      [formGroup]="createCustomerForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.FIRST_NAME' | translate }}</mat-label>
        <input matInput [placeholder]="'CUSTOMER.FIRST_NAME' | translate" formControlName="firstName" />
        <mat-error
          *ngIf="createCustomerForm.get('firstName')?.hasError('required')"
          >{{ 'CUSTOMER.FIRST_NAME' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.LAST_NAME' | translate }}</mat-label>
        <input matInput [placeholder]="'CUSTOMER.LAST_NAME' | translate" formControlName="lastName" />
        <mat-error
          *ngIf="createCustomerForm.get('lastName')?.hasError('required')"
          >{{ 'CUSTOMER.LAST_NAME' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <span fxFlex="30%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.CONTACT_NUMBER' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'CUSTOMER.CONTACT_NUMBER' | translate"
          formControlName="contactNumber"
        />
        <mat-error
          *ngIf="createCustomerForm.get('contactNumber')?.hasError('required')"
          >{{ 'CUSTOMER.CONTACT_NUMBER' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
        <mat-error
          *ngIf="createCustomerForm.get('contactNumber')?.hasError('minlength')"
          >{{ 'CUSTOMER.CONTACT_NUMBER_LENGTH' | translate }}</mat-error
        >
      </mat-form-field>

      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.EMAIL_ADDRESS' | translate }}</mat-label>
        <input matInput [placeholder]="'CUSTOMER.EMAIL_ADDRESS' | translate" formControlName="emailAddress" />
        <mat-error
          *ngIf="createCustomerForm.get('emailAddress')?.hasError('required')"
          >{{ 'CUSTOMER.EMAIL_ADDRESS' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
        <mat-error
          *ngIf="createCustomerForm.get('emailAddress')?.hasError('email')"
          >{{ 'CUSTOMER.EMAIL_INVALID' | translate }}</mat-error
        >
      </mat-form-field>

      <span fxFlex="30%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.ADDRESS1' | translate }}</mat-label>
        <input matInput [placeholder]="'CUSTOMER.ADDRESS1' | translate" formControlName="address1" />
        <mat-error
          *ngIf="createCustomerForm.get('address1')?.hasError('required')"
          >{{ 'CUSTOMER.ADDRESS1' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.ADDRESS2' | translate }}</mat-label>
        <input matInput [placeholder]="'CUSTOMER.ADDRESS2' | translate" formControlName="address2" />
      </mat-form-field>

      <span fxFlex="30%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.CITY' | translate }}</mat-label>
        <input matInput [placeholder]="'CUSTOMER.CITY' | translate" formControlName="city" />
        <mat-error *ngIf="createCustomerForm.get('city')?.hasError('required')"
          >{{ 'CUSTOMER.CITY' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>
      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.POSTAL_CODE' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'CUSTOMER.POSTAL_CODE' | translate"
          formControlName="postalCode"
        />
        <mat-error
          *ngIf="createCustomerForm.get('postalCode')?.hasError('required')"
          >{{ 'CUSTOMER.POSTAL_CODE' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <span fxFlex="30%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.COUNTRY' | translate }}</mat-label>
        <mat-select formControlName="countryGeoId" name="countryGeoId">
          <mat-option
            *ngFor="let country of countries"
            [value]="country.geo_id"
            >{{ country.geo_name }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="createCustomerForm.get('countryGeoId')?.hasError('required')"
          >{{ 'CUSTOMER.COUNTRY' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>
      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="34%">
        <mat-label>{{ 'CUSTOMER.STATE' | translate }}</mat-label>
        <mat-select
          formControlName="stateProvinceGeoId"
          name="stateProvinceGeoId"
        >
          <mat-option
            *ngFor="let state of filteredStates"
            [value]="state.geo_id"
            >{{ state.geo_name }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="
            createCustomerForm.get('stateProvinceGeoId')?.hasError('required')
          "
          >{{ 'CUSTOMER.STATE' | translate }} {{ 'COMMON.REQUIRED' | translate }}</mat-error
        >
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
