/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.card-margin {
  margin: 5px;
  transition: box-shadow 0.3s; /* Add a smooth transition effect */
}
.custom-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-list-item {
  padding: 4px;
}
.custom-mat-icon {
  font-size: 20px;
  font-weight: bold;
}
.custom-icon-align {
  vertical-align: middle;
}
.icon-right {
  float: right;
}
.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mat-elevation-z10 {
  box-shadow:0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12)!important;
}

.custom-file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding-right: 90%;
}

.custom-file-input::before {
  content: 'Select File';
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
}

.custom-file-input:hover::before {
  background-color: #e0e0e0;
}

.custom-file-input:active::before {
  background-color: #d5d5d5;
}

/* your-component.component.css */
.table-tooltip {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
