<h1 mat-dialog-title>{{ data?.id ? 'Update Location' : 'Add Location' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Location Seq ID</mat-label>
      <input matInput formControlName="locationSeqId" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Location Type</mat-label>
      <mat-select formControlName="locationTypeEnumId">
        <mat-option *ngFor="let item of locationTypes" [value]="item.enumId">
          {{ item.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Area ID</mat-label>
      <input matInput formControlName="areaId" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">Save</button>
</div>
