<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/shipments']">{{ 'SHIPMENT.TITLE' | translate }}</a>
      / {{ shipmentDetail?.shipmentId }}
    </mat-list-item>
  </mat-list>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'SHIPMENT.OVERVIEW' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.ID_LABEL' | translate }}:</strong>
                {{ shipmentDetail?.shipmentId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'COMMON.TYPE' | translate }}:</strong>
                {{ getShipmentTypeDescription(shipmentDetail?.shipmentTypeId) }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'COMMON.STATUS' | translate }}:</strong>
                {{ getStatusDescription(shipmentDetail?.statusId) }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.PRIMARY_ORDER' | translate }}:</strong>
                {{ shipmentDetail?.primaryOrderId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.FROM_PARTY' | translate }}:</strong>
                {{ shipmentDetail?.partyIdFrom }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.TO_PARTY' | translate }}:</strong>
                {{ shipmentDetail?.partyIdTo }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.ORIGIN_FACILITY' | translate }}:</strong>
                {{ shipmentDetail?.originFacilityId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.DESTINATION_FACILITY' | translate }}:</strong>
                {{ shipmentDetail?.destinationFacilityId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.EST_SHIP_DATE' | translate }}:</strong>
                {{ shipmentDetail?.estimatedShipDate | date : 'MMMM d, y' }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.EST_ARRIVAL_DATE' | translate }}:</strong>
                {{ shipmentDetail?.estimatedArrivalDate | date : 'MMMM d, y' }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'SHIPMENT.CREATED_DATE' | translate }}:</strong>
                {{ shipmentDetail?.createdDate | date : 'MMMM d, y' }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.ITEMS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="shipmentItemSeqId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.ITEM_SEQ_ID' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.shipmentItemSeqId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.PRODUCT_ID' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.productId }}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell class="text-right" *matHeaderCellDef>{{ 'COMMON.QTY' | translate }}</th>
          <td mat-cell class="text-right" *matCellDef="let item">{{ item.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="shipmentContentDescription">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.DESCRIPTION' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.shipmentContentDescription }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['shipmentItemSeqId', 'productId', 'quantity', 'shipmentContentDescription']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['shipmentItemSeqId', 'productId', 'quantity', 'shipmentContentDescription']"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'SHIPMENT.ROUTE_SEGMENTS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="shipmentRouteSegments">
        <ng-container matColumnDef="shipmentRouteSegmentId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.ROUTE_SEGMENT_ID' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.shipmentRouteSegmentId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="originFacilityId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.ORIGIN_FACILITY' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.originFacilityId }}</td>
        </ng-container>
        <ng-container matColumnDef="destFacilityId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.DESTINATION_FACILITY' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.destFacilityId }}</td>
        </ng-container>
        <ng-container matColumnDef="shipmentMethodTypeId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.METHOD' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getShipmentMethodDescription(item.shipmentMethodTypeId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="carrierPartyId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.CARRIER' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.carrierPartyId }}</td>
        </ng-container>
        <ng-container matColumnDef="carrierServiceStatusId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.STATUS' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ getStatusDescription(item.carrierServiceStatusId) }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['shipmentRouteSegmentId', 'originFacilityId', 'destFacilityId', 'shipmentMethodTypeId', 'carrierPartyId', 'carrierServiceStatusId']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['shipmentRouteSegmentId', 'originFacilityId', 'destFacilityId', 'shipmentMethodTypeId', 'carrierPartyId', 'carrierServiceStatusId']"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
