.mat-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.mat-header-row, .mat-row {
  display: table-row;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  padding: 8px;
  text-align: left;
}

.text-right {
  text-align: right;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:hover {
  background-color: #e0e0e0;
}

.mat-paginator {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
