<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'FEATUREGROUP.FEATURES_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="createProductFeatGrpAppl()"
      [formGroup]="productFeatureGroupApplForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field fxFlex="100%">
        <mat-label>{{ 'FEATURE.TITLE' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'FEATURE.TITLE' | translate"
          [matAutocomplete]="auto"
          formControlName="productFeatureId"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let category of filteredFeatures$ | async"
            [value]="category.productFeatureId"
          >
            {{ category.description }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="productFeatureGroupApplForm.get('productFeatureId')?.hasError('required')"
        >
          {{ 'FEATURE.FEATURE_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button mat-dialog-close color="primary">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
