<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{ 'FACILITY.CREATE_TITLE' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="row wrap" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="{{ 'COMMON.ID' | translate }}" formControlName="facilityId" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="{{ 'COMMON.NAME' | translate }}" formControlName="facilityName" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-select
          placeholder="{{ 'COMMON.TYPE' | translate }}"
          formControlName="facilityTypeId"
        >
          <mat-option
            *ngFor="let type of facilityTypes"
            [value]="type.facilityTypeId"
          >
            {{ type.description || type.facilityTypeId }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="{{ 'FACILITY.OWNER' | translate }}" formControlName="ownerPartyId" />
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
