<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner [diameter]="100" mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/assets']">{{ 'ASSET.BREADCRUMB' | translate }}</a>
      / {{ assetDetail?.inventoryItemId }}
    </mat-list-item>
  </mat-list>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.OVERVIEW' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'COMMON.FACILITY' | translate }}</strong>
                <ng-container *ngIf="assetDetail?.facilityId; else noFacility">
                  <a [routerLink]="['/facilities', assetDetail.facilityId]">
                    {{ facilityName || assetDetail.facilityId }}
                  </a>
                  <span *ngIf="facilityName && facilityName !== assetDetail.facilityId">
                    ({{ assetDetail.facilityId }})
                  </span>
                </ng-container>
                <ng-template #noFacility>--</ng-template>
              </li>
              <li class="custom-list-item">
                <strong>{{ 'COMMON.LOCATION' | translate }}</strong>
                {{ assetDetail?.locationSeqId }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'ASSET.RECEIVED_DATE' | translate }}</strong>
                {{ assetDetail?.datetimeReceived | date : "MMMM d, y" }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'COMMON.TYPE' | translate }}</strong>
                {{ getInventoryItemTypeLabel(assetDetail?.inventoryItemTypeId || assetDetail?.inventoryItemTypeEnumId)
                }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'COMMON.STATUS' | translate }}</strong>
                {{ getStatusLabel(assetDetail?.statusId) }}
              </li>
              <li *ngIf="assetDetail?.serialNumber" class="custom-list-item">
                <strong>{{ 'ASSET.SERIAL_NUMBER' | translate }}</strong>
                {{ assetDetail?.serialNumber }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>{{ 'ASSET.QOH' | translate }}</strong>
                {{ assetDetail?.quantityOnHandTotal }}
              </li>
              <li class="custom-list-item">
                <strong>{{ 'ASSET.ATP' | translate }}</strong>
                {{ assetDetail?.availableToPromiseTotal }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'COMMON.DETAILS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="details">
        <ng-container matColumnDef="inventoryItemDetailSeqId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.DETAIL_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.inventoryItemDetailSeqId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="workEffortId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.WORK_EFFORT_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.workEffortId; else noWorkEffortId">
              <a [routerLink]="['/jobs', item.workEffortId]">{{ item.workEffortId }}</a>
            </ng-container>
            <ng-template #noWorkEffortId>--</ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="orderId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.ORDER_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.orderId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="receiptId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.RECEIPT_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.receiptId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'COMMON.PRODUCT_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.productId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="physicalInventoryId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.PHYSICAL_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.physicalInventoryId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'COMMON.DESCRIPTION' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantityOnHandDiff">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.QOH_DIFF' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.quantityOnHandDiff || 0 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="availableToPromiseDiff">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.QTP_DIFF' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.availableToPromiseDiff }}
          </td>
        </ng-container>
        <ng-container matColumnDef="effectiveDate">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.EFFECTIVE_DATE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.effectiveDate | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: detailColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'ASSET.RESERVATIONS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>{{ 'ASSET.ORDER_RESERVATIONS' | translate }}</h3>
      <table mat-table [dataSource]="orderReservations">
        <ng-container matColumnDef="orderId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.ORDER_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.orderId; else noOrderId">
              <a [routerLink]="['/orders', item.orderId]">{{ item.orderId }}</a>
            </ng-container>
            <ng-template #noOrderId>--</ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="orderItemSeqId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.ORDER_ITEM_SEQ_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.orderItemSeqId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="shipGroupSeqId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.SHIP_GROUP_SEQ_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.shipGroupSeqId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.RESERVED_QTY' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item.quantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantityNotAvailable">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.NOT_AVAILABLE_QTY' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item.quantityNotAvailable }}
          </td>
        </ng-container>
        <ng-container matColumnDef="reservedDatetime">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.RESERVED_DATETIME' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.reservedDatetime | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="orderReservationColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: orderReservationColumns"></tr>
      </table>
      <br />
      <h3>{{ 'ASSET.JOB_RESERVATIONS' | translate }}</h3>
      <table mat-table [dataSource]="workEffortReservations">
        <ng-container matColumnDef="workEffortId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.WORK_EFFORT_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.workEffortId; else noWorkEffortId">
              <a [routerLink]="['/jobs', item.workEffortId]">{{ item.workEffortId }}</a>
            </ng-container>
            <ng-template #noWorkEffortId>--</ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.RESERVED_QTY' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item.quantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantityNotAvailable">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.NOT_AVAILABLE_QTY' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item.quantityNotAvailable }}
          </td>
        </ng-container>
        <ng-container matColumnDef="reservedDatetime">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.RESERVED_DATETIME' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.reservedDatetime | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="workEffortReservationColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: workEffortReservationColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>{{ 'ASSET.RECEIPTS' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="receipts">
        <ng-container matColumnDef="receiptId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.RECEIPT_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.receiptId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="shipmentId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'SHIPMENT.ID_LABEL' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <ng-container *ngIf="item.shipmentId; else noShipment">
              <a [routerLink]="['/shipments', item.shipmentId]">{{ item.shipmentId }}</a>
            </ng-container>
            <ng-template #noShipment>--</ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'COMMON.PRODUCT_ID' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.productId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantityAccepted">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            {{ 'ASSET.ACCEPTED_QTY' | translate }}
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.quantityAccepted }}
          </td>
        </ng-container>
        <ng-container matColumnDef="receivedByUserLoginId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.RECEIVED_BY' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.receivedByUserLoginId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="datetimeReceived">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            {{ 'ASSET.RECEIVED_DATE' | translate }}
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item.datetimeReceived | date : "MMMM d, y" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="receiptColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: receiptColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        <div class="card-title-row">
          <span>{{ 'ASSET.VARIANCE.TITLE' | translate }}</span>
          <span class="spacer"></span>
          <button mat-button color="primary" (click)="openVarianceDialog()">
            <mat-icon>add</mat-icon>
            {{ 'ASSET.VARIANCE.ADD_VARIANCE' | translate }}
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="variances">
        <ng-container matColumnDef="varianceReasonId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.REASON' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ getVarianceReasonLabel(item.varianceReasonId) }}</td>
        </ng-container>
        <ng-container matColumnDef="quantityOnHandVar">
          <th mat-header-cell class="text-right" *matHeaderCellDef>{{ 'ASSET.VARIANCE.QOH_VAR' | translate }}</th>
          <td mat-cell class="text-right" *matCellDef="let item">{{ item.quantityOnHandVar }}</td>
        </ng-container>
        <ng-container matColumnDef="availableToPromiseVar">
          <th mat-header-cell class="text-right" *matHeaderCellDef>{{ 'ASSET.VARIANCE.ATP_VAR' | translate }}</th>
          <td mat-cell class="text-right" *matCellDef="let item">{{ item.availableToPromiseVar }}</td>
        </ng-container>
        <ng-container matColumnDef="comments">
          <th mat-header-cell class="text-left" *matHeaderCellDef>{{ 'COMMON.COMMENTS' | translate }}</th>
          <td mat-cell class="text-left" *matCellDef="let item">{{ item.comments }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="varianceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: varianceColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>