<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'PARTY.CONTENT_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="createPartyContent()"
      [formGroup]="fileForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <div fxFlex="100%" fxLayoutAlign="start" class="mb-10">
        <input
          type="file"
          id="fileInput"
          formControlName="contentFile"
          class="custom-file-input"
        />
      </div>

      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'PARTY.DESCRIPTION' | translate }}</mat-label>
        <textarea
          matInput
          [placeholder]="'PARTY.DESCRIPTION_PLACEHOLDER' | translate"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading"
        >
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button mat-dialog-close color="primary">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
