<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{ 'PARTY.ADD_PHONE_TITLE' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addEditPhoneForm" (ngSubmit)="addEditPhone()" fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field fxFlex="100%">
        <mat-label>{{ 'PARTY.CONTACT_NUMBER' | translate }}</mat-label>
        <input matInput formControlName="contactNumber" placeholder="{{ 'PARTY.CONTACT_NUMBER' | translate }}" />
        <mat-error *ngIf="addEditPhoneForm.get('contactNumber')?.hasError('required')">
          {{ 'PARTY.CONTACT_NUMBER_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="addEditPhoneForm.get('contactNumber')?.hasError('pattern')">
          {{ 'PARTY.CONTACT_NUMBER_INVALID' | translate }}
        </mat-error>
      </mat-form-field>
      <div fxFlex="100%" class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading || addEditPhoneForm.invalid">
          <span *ngIf="!isLoading">{{ 'COMMON.SAVE' | translate }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        </button>
        <button mat-button (click)="dialogRef.close()">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>