<mat-card class="mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{ 'SHIPMENT.CREATE_TITLE' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="shipmentForm" (ngSubmit)="createShipment()">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.SHIPMENT_ID_OPTIONAL' | translate }}</mat-label>
          <input matInput formControlName="shipmentId" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.TYPE' | translate }}</mat-label>
          <mat-select formControlName="shipmentTypeId" required>
            <mat-option *ngFor="let type of shipmentTypes" [value]="type.shipmentTypeId">
              {{ type.description || type.shipmentTypeId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'COMMON.STATUS' | translate }}</mat-label>
          <mat-select formControlName="statusId" required>
            <mat-option *ngFor="let status of shipmentStatuses" [value]="status.statusId">
              {{ status.description || status.statusId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.PRIMARY_ORDER' | translate }}</mat-label>
          <input matInput formControlName="primaryOrderId" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.ORIGIN_FACILITY' | translate }}</mat-label>
          <input matInput formControlName="originFacilityId" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.DESTINATION_FACILITY' | translate }}</mat-label>
          <input matInput formControlName="destinationFacilityId" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.FROM_PARTY' | translate }}</mat-label>
          <input matInput formControlName="partyIdFrom" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.TO_PARTY' | translate }}</mat-label>
          <input matInput formControlName="partyIdTo" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.EST_SHIP_DATE' | translate }}</mat-label>
          <input matInput type="date" formControlName="estimatedShipDate" />
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="30%" appearance="outline">
          <mat-label>{{ 'SHIPMENT.EST_ARRIVAL_DATE' | translate }}</mat-label>
          <input matInput type="date" formControlName="estimatedArrivalDate" />
        </mat-form-field>
      </div>

      <mat-divider class="section-divider"></mat-divider>
      <div class="section-header">
        <h3>{{ 'COMMON.ITEMS' | translate }}</h3>
        <button mat-stroked-button type="button" (click)="addItem()">
          {{ 'COMMON.ADD_ITEM' | translate }}
        </button>
      </div>
      <div formArrayName="items">
        <div
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
          class="form-row"
        >
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.ITEM_SEQ_ID' | translate }}</mat-label>
            <input matInput formControlName="shipmentItemSeqId" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.PRODUCT_ID' | translate }}</mat-label>
            <input matInput formControlName="productId" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'COMMON.QTY' | translate }}</mat-label>
            <input matInput formControlName="quantity" required />
          </mat-form-field>
          <mat-form-field appearance="outline" class="wide-field">
            <mat-label>{{ 'COMMON.DESCRIPTION' | translate }}</mat-label>
            <input matInput formControlName="shipmentContentDescription" />
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            aria-label="Remove item"
            (click)="removeItem(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider class="section-divider"></mat-divider>
      <div class="section-header">
        <h3>{{ 'SHIPMENT.ROUTE_SEGMENTS' | translate }}</h3>
        <button mat-stroked-button type="button" (click)="addRouteSegment()">
          {{ 'SHIPMENT.ADD_ROUTE_SEGMENT' | translate }}
        </button>
      </div>
      <div formArrayName="routeSegments">
        <div
          *ngFor="let segment of routeSegments.controls; let i = index"
          [formGroupName]="i"
          class="form-row"
        >
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.ROUTE_SEGMENT_ID' | translate }}</mat-label>
            <input matInput formControlName="shipmentRouteSegmentId" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.ORIGIN_FACILITY' | translate }}</mat-label>
            <input matInput formControlName="originFacilityId" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.DESTINATION_FACILITY' | translate }}</mat-label>
            <input matInput formControlName="destFacilityId" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.METHOD' | translate }}</mat-label>
            <mat-select formControlName="shipmentMethodTypeId">
              <mat-option *ngFor="let method of shipmentMethodTypes" [value]="method.shipmentMethodTypeId">
                {{ method.description || method.shipmentMethodTypeId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'SHIPMENT.CARRIER' | translate }}</mat-label>
            <input matInput formControlName="carrierPartyId" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'COMMON.STATUS' | translate }}</mat-label>
            <mat-select formControlName="carrierServiceStatusId">
              <mat-option *ngFor="let status of carrierServiceStatuses" [value]="status.statusId">
                {{ status.description || status.statusId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            aria-label="Remove route segment"
            (click)="removeRouteSegment(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="isLoading"
        >
          {{ 'SHIPMENT.CREATE_ACTION' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
