<h2 mat-dialog-title>
    {{ (data.productFacilityLocation ? 'Edit Location' : 'Add Location') }}
</h2>

<mat-dialog-content>
    <div class="subtitle">Facility: {{ data.facilityName }}</div>
    <form [formGroup]="form" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select formControlName="locationSeqId">
                <mat-option *ngFor="let location of locations" [value]="location.locationSeqId">
                    {{ location.locationSeqId }}
                    <span *ngIf="location.locationName">({{ location.locationName }})</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('locationSeqId')?.hasError('required')">
                {{ 'COMMON.REQUIRED_FIELD' | translate }}
            </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Loc Min Stock</mat-label>
                <input matInput formControlName="minimumStock" />
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Loc Max Stock</mat-label>
                <input matInput formControlName="maximumStock" />
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Loc Reorder Qty</mat-label>
                <input matInput formControlName="reorderQuantity" />
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Move Quantity</mat-label>
                <input matInput formControlName="moveQuantity" />
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid || isLoading" (click)="save()">
        {{ (data.productFacilityLocation ? 'Update' : 'Add') }}
    </button>
</mat-dialog-actions>