<ng-container *ngIf="isLoading; else content">
  <mat-progress-spinner
    [diameter]="100"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-container>
<ng-template #content>
  <mat-list>
    <mat-list-item>
      <a [routerLink]="['/jobs']">{{ 'MANUFACTURING.TITLE' | translate }}</a>
      / {{ jobDetail?.workEffortId }}
    </mat-list-item>
  </mat-list>
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        {{ 'MANUFACTURING.JOB_OVERVIEW' | translate }}
      </mat-card-title>
      <span class="spacer"></span>
      <button
        mat-stroked-button
        color="primary"
        (click)="approveJob()"
        *ngIf="!isApproved()"
      >
        Approve
      </button>
      <button
        mat-stroked-button
        color="accent"
        (click)="startJob()"
        *ngIf="isApproved() && !isRunning()"
      >
        Start
      </button>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>Job Name:</strong>
                {{ jobDetail?.workEffortName }}
              </li>
              <li class="custom-list-item">
                <strong>Facility ID:</strong>
                {{ jobDetail?.facilityId }}
              </li>
              <li class="custom-list-item">
                <strong>Estimated Start Date:</strong>
                {{ jobDetail?.estimatedStartDate | date : "MMMM d, y" }}
              </li>
              <li class="custom-list-item">
                <strong>Status ID:</strong>
                {{ statusLabel(jobDetail?.currentStatusId || jobDetail?.statusId) }}
              </li>
              <li class="custom-list-item">
                <strong>Actual Start Date:</strong>
                {{ (jobDetail?.actualStartDate || jobDetail?.estimatedStartDate) | date : "MMMM d, y" }}
              </li>
              <li class="custom-list-item">
                <strong>Est. Hours:</strong>
                {{ jobDetail?.estimatedWorkDuration }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-xs="32%" class="card-margin mat-elevation-z10">
          <mat-card-content>
            <ul class="custom-list">
              <li class="custom-list-item">
                <strong>QOH:</strong>
                {{ jobDetail?.quantityOnHandTotal }}
              </li>
              <li class="custom-list-item">
                <strong>ATP:</strong>
                {{ jobDetail?.availableToPromiseTotal }}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title> Products to Produce </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="productsToProduce">
        <ng-container matColumnDef="productId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            Product ID
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.productId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            Product Name
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.productName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="atp">
          <th mat-header-cell class="text-right" *matHeaderCellDef>ATP</th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.availableToPromiseTotal }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qoh">
          <th mat-header-cell class="text-right" *matHeaderCellDef>QOH</th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.quantityOnHandTotal }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estimatedQuantity">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            Estimated Quantity
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.estimatedQuantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="uom">
          <th mat-header-cell class="text-left" *matHeaderCellDef>UOM</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.uom }}
          </td>
        </ng-container>
        <ng-container matColumnDef="produced">
          <th mat-header-cell class="text-right" *matHeaderCellDef>Produced</th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.produced }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="productsToProduceColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: productsToProduceColumns"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        <div class="card-title-row">
          <span>Products to Consume</span>
          <span class="spacer"></span>
          <button mat-button color="primary" (click)="addConsumable()">
            <mat-icon>add</mat-icon>
            Add Item
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="productsToConsume">
        <ng-container matColumnDef="productId">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            Product ID
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.productId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell class="text-left" *matHeaderCellDef>
            Product Name
          </th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.productName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="atp">
          <th mat-header-cell class="text-right" *matHeaderCellDef>ATP</th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.availableToPromiseTotal }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qoh">
          <th mat-header-cell class="text-right" *matHeaderCellDef>QOH</th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.quantityOnHandTotal }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estimatedQuantity">
          <th mat-header-cell class="text-right" *matHeaderCellDef>
            Estimated Quantity
          </th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.estimatedQuantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="uom">
          <th mat-header-cell class="text-left" *matHeaderCellDef>UOM</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ item?.uom }}
          </td>
        </ng-container>
        <ng-container matColumnDef="consumed">
          <th mat-header-cell class="text-right" *matHeaderCellDef>Consumed</th>
          <td mat-cell class="text-right" *matCellDef="let item">
            {{ item?.consumed }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Status</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            {{ statusLabel(item?.statusId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell class="text-left" *matHeaderCellDef>Actions</th>
          <td mat-cell class="text-left" *matCellDef="let item">
            <button
              mat-stroked-button
              color="primary"
              (click)="reserveConsumable(item)"
              *ngIf="!isReserved(item) && isApproved() && !isCancelled(item) && !isIssued(item)"
            >
              Reserve
            </button>
            <button
              mat-stroked-button
              color="accent"
              (click)="releaseConsumable(item)"
              *ngIf="isReserved(item) && !isCancelled(item) && !isIssued(item)"
            >
              Release
            </button>
            <button
              mat-stroked-button
              color="warn"
              (click)="issueConsumable(item)"
              *ngIf="isReserved(item) && !isCancelled(item) && !isIssued(item)"
            >
              Issue
            </button>
            <button
              mat-button
              color="warn"
              (click)="cancelConsumable(item)"
              *ngIf="!isCancelled(item) && !isIssued(item)"
            >
              Cancel
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="productsToConsumeColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: productsToConsumeColumns"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-template>
